<div class="modal fade" tabindex="-1" role="dialog" id="expense-modal-form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for @expense, remote: true do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <div class="modal-body">
​
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :Type %>
                <%= f.collection_select(:type_id, Type.order(:name), :id, :name, {prompt: 'Select expense type'}, {class:"form-control"}) %>
                <%#= f.select :type, options_for_select(Type.all.map{ |t| [t.name, t.id] }), {prompt: 'Select expense type'}, {class:"form-control"} %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date %>
              <%= f.date_field :date,  class: "form-control" %>
            </div>
          </div>
        </div>
​
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.label :concepto %>
              <%= f.text_field :concept,  class: "form-control", placeholder: "Ingrese Concepto" %>
            </div>
          </div>
        </div>
​
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :category %>
              <%= f.collection_select(:category_id, Category.order(:name), :id, :name, {prompt: 'Select category'}, {class:"form-control"}) %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :cantidad %>
              <%= f.text_field :amount, class: "form-control", data: {autonumeric: true} %>
            </div>
          </div>
        </div>
​
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <%= f.submit title, class: "btn btn-default" %>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
